/* Default styles for larger screens */
.split {
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  color: #fff;
}
.left {
  display: flex;
  align-content: center;
  width: 50%;
  align-items: center;
}
.left img{
  width: 80%;
  align-items: center;
}
.right {
  width: 50%;
  padding: 20px;
}
.li-inline {
  display: flex;
  align-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px;
}
.headingh1 {
  font-size: 60px;
  font-weight: 900;
  color: #ff725e;
}
.deviceheading {
    font-size: 60px;
    margin-left: 15px;
    font-weight: 900;
    color: #7b95f2;
  }
.heropara {
  font-size: 25px;
  color: #455a64;
}
.list-hero-img {
  width: 8%;
}
.li-inline p {
  font-size: 25px;
  font-weight: 600;
}
.split-mobile{
  display: none;
}
@media (max-width: 768px) {
  .split {
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    
  }
  .desktop{
    display: none;
  }
  .left,
  .right {
    width: 100%;
    padding: 20px;
  }
  .li-inline {
    flex-direction: row;
    align-content: space-between;
    align-items: center;
  }
  .list-hero-img {
    width: 16%;
  }
  .headingh1 {
    font-size: 35px;
    text-align: center;
  }
  .heropara {
    font-size: 20px;
    text-align: center;
  }
  .left img{
    width: 100%;
    align-items: center;
  }
  .li-inline p {
    font-size: 20px;
    text-align: center;
    align-items: center;
  }
  .deviceheading {
    font-size: 55px;
    text-align: center;
    font-weight: 900;
    margin-top: -70px;
    color: #7b95f2;
  }

  .split-mobile{
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    color: #fff;
  }
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin-bottom: 40px;
  margin-top: 30px;
  list-style-type: none
}
.footer-icon {
  display: flex;
  align-items: center;
  align-content: space-between;
  gap: 20px;
}