/* #####################
hero section
########################*/

.herosection {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 30px;
  margin-top: 50px;
}

.hero-img {
  max-width: 40%;
  max-height: 50%;
  align-content: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 111px;
  width: 50%;

}

.headingh1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #ff725e;
}
.heropara {
  color: #455a64;
  font-size: 2.2rem;
}
.hero-ul {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.list-hero-img {
  width: 6.5%;
  padding: 10px;
  height: 50px;
}
li {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.secretidentifier {
  color: #455a64;
  font-size: 2.3rem;
  font-weight: 600;
}
span {
  color: #fff;
}

/* ############################
Device section
############################ */

.DeviceHeroSection {
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 60px;
  margin-top: 150px;
  height: 100vh;
}

.device-img {
  width: 40%;
  margin-left: 173px;
}

/* ############################
Geographical section
############################ */

.GeoHeroSection {
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 60px;
  height: 83vh;
}

.geo-img {
  width: 40%;
}
.geo-text {
  margin-left: 120px;
}
.Geoheadingh1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #ff725e;
}
.geosecretidentifier {
  color: #455a64;
  font-size: 2rem;
  font-weight: 600;
}

/* ##########################
Footer
#############################
*/
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin-bottom: 40px;
}
.footer-icon {
  display: flex;
  align-items: center;
  align-content: space-between;
  gap: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .herosection {
    flex-direction: column;
    margin: 15px;
  }

  .hero-img {
    max-width: 100%;
    max-height: auto;
  }

  .hero-text {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-between;
  }

  .headingh1 {
    font-size: 2rem;
    text-align: center;
    margin-right: 40px;
  }

  .heropara {
    font-size: 1.5rem;
    text-align: center;

  }

  .hero-ul {
    flex-direction: column;
  }

  .list-hero-img {
    width: 10%;
  }

  .device-img {
    width: 80%;
    margin-left: 0;
  }
  .geo-img {
    margin-top: 200px;
    width: 80%;
    margin-left: 0;
  }

  .footer {
    margin-bottom: 20px;
  }
}
