@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Patua+One&display=swap");

.split {
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  color: #fff;
}
.left {
  display: flex;
  align-content: center;
  width: 50%;
  align-items: center;
}
.left img {
  width: 80%;
  align-items: center;
  transform: scaleX(-1);
}
.right {
  width: 50%;
  padding: 20px;
}
.li-inline {
  display: flex;
  align-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px;
}
.headingh1 {
  font-size: 50px;
  font-weight: 900;
  color: #ff725e;
  font-family: "Croissant One", cursive;
  /* font-family: "Patua One", cursive; */
}
.deviceheading {
  font-size: 60px;
  margin-left: 15px;
  font-weight: 900;
  font-family: "Croissant One", cursive;
  
  color: #7b95f2;
}
.heropara {
  font-size: 25px;
  color: #ffc6d3;
  font-family: 'Cookie', cursive;
}
.list-hero-img {
  width: 8%;
}
.li-inline p {
  font-size: 25px;
  font-weight: 600;
}
.split-mobile {
  display: none;
}
@media (max-width: 768px) {
  .split {
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
  }
  .desktop {
    display: none;
  }
  .left,
  .right {
    width: 100%;
    padding: 20px;
  }
  .li-inline {
    flex-direction: row;
    align-content: space-between;
    align-items: center;
  }
  .list-hero-img {
    width: 16%;
  }
  .headingh1 {
    font-size: 28px;
    text-align: center;
  }
  .heropara {
    font-size: 20px;
    text-align: center;
  }
  .left img {
    width: 100%;
    margin-top: -60px;
    align-items: center;
  }
  .home img{
    margin-top: 20px;
  }
  .geo img{
    margin-top: 30px;
  }
  .li-inline p {
    font-size: 20px;
    text-align: center;
    align-items: center;
  }
  .deviceheading {
    font-size: 44px;
    text-align: center;
    font-weight: 900;
    margin-top: -70px;
    color: #7b95f2;
  }

  .split-mobile {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    color: #fff;
  }
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin-bottom: 40px;
  margin-top: 30px;
  list-style-type: none;
}
.footer-icon {
  display: flex;
  align-items: center;
  align-content: space-between;
  gap: 20px;
}

span {
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fdd096;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff725e;
}
